.CreateTaskButton{
    background-color: #884A39;
    box-shadow: 0px 5px 15px #884A39;
    border: none;
    border-radius: 50%;
    font-size: 50px;
    position: fixed;
    bottom: 24px;
    right: 24px;
    font-weight: bold;
    color: #FAFAFA;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 64px;
    width: 64px;
    /* Esto hace que nos quede sobre motado el boton en el modal. */
    z-index: 1;
    transform: rotate(0);
    transition: .3 ease;
}
.CreateTaskButton:hover{
    transform: rotate(22deg);
}