.TaskItem{
    background-color: #FFC26F;
    border: 2px solid #884A39;
    position: relative;
    display: flex;
    margin: 0 20%;
    width: calc(60%);
    justify-content: center;
    align-items: center;
    margin-top: 24px;
    box-shadow: 0px 5px 50px rgba(32, 35, 41, 0.15);
}

.TaskItem-p{
    margin: 20px 0 20px 20px;
    width: calc(100% - 120px);
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
}

.TaskItem-p--complete{
    text-decoration: line-through;
}
