form{
    width: 90%;
    max-width: 300px;
    /* background-color: #F9E0BB; */
    background-color: #B8DFF0;
    padding: 30px 40px;
    /* Pone los item una al lado del otro */
    display: flex;
    /* una vez estado ordenado porne en forma columna */
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
label{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    color: #1E1E1F;
    margin-bottom: 26px;
}

textarea{
    /* background-color: #C38154;
    border: 2px solid #884A39; */
    background-color: #7971EA;
    border: 2px solid #1A2C5B;
    border-radius: 2px;
    box-shadow: 0px 5px 50px rgba(32, 35, 41, 0.25);
    color: #1E1E1F;
    font-size: 20px;
    text-align: center;
    padding: 12px;
    height: 96px;
    width: calc(100% - 25px);
}

textarea::placeholder{
    color: #0f0f0f;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 400;
}
textarea:focus{
    outline-color: #F9E0BB;
}

.TaskForm-buttonContainer{
    margin-top: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    
}

.TaskForm-button{
    cursor: pointer;
    display: inline-block;
    font-size: 20px;
    color: #202329;
    font-weight: 400;
    width: 120px;
    height: 48px;
    border-radius: 2px;
    border: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.TaskForm-button--add{
    /* background: #C38154;
    box-shadow: 0px 5px 10px #884A39;     */
    background: #3E4E88;
    box-shadow: 0px 5px 10px #7971EA;    
}

.TaskForm-button--cancel{
    /* background: #eecc99; */
    background: #a7d6eb;
}

